body {
    font-family: 'Roboto', sans-serif;
    background-color: #4D525E;
}

h1 {
    font-weight: 300;
    color: #4D525E;
    font-size: 40px;
}

h2 {
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: .2em;
}

p {
    font-size: 12px;
    line-height: 16px;
    color: #A5A6Ad;
}

.container {
    background-color: white;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.4);
}

.left {
    padding: 80px 0px 0px;
}

.grid-7 {
    margin-left: 50px;
}


/* header */

header h2 {
    color: #AFB3BB;
}

header h1 {
    padding: 5px 0;
}


/* sign in */

main ul {
    padding: 50px 0px;
}

main ul li {
    background-color: #fff;
    border: 1.5px solid rgba(196, 196, 196, 0.3);
    border-radius: 5px;
    padding: 30px 0px 30px 30px;
    width: 100%;
}

main ul li:hover {
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: 200ms;
}

main ul li.facebook {
    margin: 20px 0;
}

ul li img {
    max-width: 28px;
    margin-right: 50px!important;
}

ul li h2 {
    padding-top: 8px;
    color: #585B63;
}


/* footer */

footer {
    margin-top: 20px;
    border-top: 1px solid rgba(196, 196, 196, 0.3);
}

footer.grid-10 {
    margin-left: 0;
    margin-right: 0;
}

footer h1 {
    font-size: 16px;
}

footer .btn {
    float: right;
}

footer a {
    color: #A6BC7E;
    text-align: right;
}

footer h2 {
    padding: 2px 0;
}

footer .grid-3 {
    margin: 0;
}

footer {
    padding: 30px 0;
}


/* right */

.right {
    background: url(./img/building.jpg) no-repeat center;
    background-size: cover;
    float: right;
    border-radius: 0px 10px 10px 0;
    height: 664px;
    width: 380px;
}

.right img {
    box-sizing: content-box;
}